
:host {
  --primary-color: var(--design-primary-color, var(--panel-primary-color));
  --button-primary-text-color: var(
    --design-primary-text-color,
    var(--panel-on-primary-color)
  );
  --background-text-color: var(
    --design-background-text-color,
    var(--panel-on-background-color)
  );
  --surface-color: var(--design-surface-color, var(--panel-surface-color));
  --surface-text-color: var(
    --design-surface-text-color,
    var(--panel-on-surface-color)
  );
}


.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
 
.dndflow .selectall {
  margin-top: 10px;
}
 
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }
 
  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.nodes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the nodes horizontally */
    gap: 10px; /* Separate the nodes by 10 pixels */
}

.nodes-container::before {
    content: "";
    width: 100%; /* Take the full width to force a line break */
    height: 10px; /* Desired gap above the first node */
}

/* Colors of the items in sidebar */
.dndnode {
  padding: 10px;
  border-radius: 3px;
  min-width: 150px;
  font-size: 12px;
  color: var(--primary-color);
  text-align: center;
  justify-content: center; /* Center the nodes horizontally */
  border-width: 1px;
  border-style: solid;
  border-color: var(--xy-node-border, var(--xy-node-border-default));
  background-color: var(--surface-color);
  width: 80%; 
}
